@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i';
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

img {
  vertical-align: top;
  font-size: 0;
  line-height: 0; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: bord;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: bord;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 1.5rem;
  font-family: 'Noto Sans Japanese', sans-serif; }

main img,
header img,
footer img,
article img,
section img {
  vertical-align: bottom; }

img.maxImg {
  max-width: 100%;
  width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }
  @media only screen and (max-width: 666px) {
    img.not-w100 {
      width: auto; } }

a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: #1075a6; }
  .no-js a:hover,
  .js.no-touchevents a:hover,
  .js.touchevents a.touch {
    text-decoration: none;
    outline: none; }

::-moz-selection,
::-moz-selection {
  background: #094460;
  text-shadow: none; }

::-moz-selection,
::selection {
  background: #094460;
  text-shadow: none; }

hr {
  clear: both;
  border: none;
  border-top: solid 1px gainsboro;
  border-bottom: solid 1px #fcfcfc;
  margin: 1em 0; }
  @media only screen and (max-width: 480px) {
    hr {
      margin: 1em 0;
      border: none; } }

@media only screen and (min-width: 668px) {
  .section h1 {
    font-size: 24px;
    font-size: 2.4rem; } }

@media only screen and (max-width: 666px) {
  .section h1 {
    font-size: 20px;
    font-size: 2rem; }
    .section h1 br {
      display: none; } }

.section h2 {
  box-sizing: border-box;
  font-size: 2.2rem;
  padding: 8px 24px 32px 0;
  color: #1075a6;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.6;
  background-image: url("../img/common/body/conts-h2.png");
  background-size: 878px 62px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right bottom; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .section h2 {
      background-image: url("../img/common/body/conts-h2@2x.png"); } }
  @media only screen and (max-width: 666px) {
    .section h2 {
      font-size: 18px;
      font-size: 1.8rem; }
      .section h2 br {
        display: none; } }

.section h3 {
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: bold; }

.section h4 {
  border-left: solid 1px #1075a6;
  color: #1075a6;
  background: #dff1f5;
  padding: 8px 8px 4px;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
  font-size: 1.6rem;
  overflow: hidden; }

.section h5 {
  box-sizing: border-box;
  font-weight: bold;
  margin-bottom: 8px;
  border-bottom: dotted 2px #eee;
  padding-bottom: 8px;
  margin-bottom: 16px; }
  .section h5:before {
    margin-right: 3px; }

em,
p,
ul,
ol,
li,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.7;
  margin: 0.8em 0;
  color: #666666;
  font-size: 1.5rem; }
  em strong,
  em b,
  p strong,
  p b,
  ul strong,
  ul b,
  ol strong,
  ol b,
  li strong,
  li b,
  dl strong,
  dl b,
  dd strong,
  dd b,
  dt strong,
  dt b,
  blockquote strong,
  blockquote b,
  td strong,
  td b,
  th strong,
  th b {
    font-weight: bold;
    color: #000 !important; }
  @media only screen and (max-width: 480px) {
    em,
    p,
    ul,
    ol,
    li,
    dl,
    dd,
    dt,
    blockquote,
    td,
    th {
      font-size: 1.5rem; } }

blockquote {
  position: relative;
  padding: 1em;
  border-bottom: solid 1px #333; }
  blockquote:before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    font-size: 3rem;
    margin-bottom: -10px; }

blockquote small,
cite {
  color: #8c8c8c;
  font-style: normal; }

blockquote p {
  margin-bottom: 2px; }

.cap,
.cap li,
small,
blockquote cite {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #8c8c8c;
  margin: 0; }
  .cap li,
  .cap li li,
  small li,
  blockquote cite li {
    margin: .2em 0 .2em; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

sub,
sup {
  font-size: 0.9rem;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
kbd,
samp {
  font-size: 90%; }

pre {
  font-size: 90%;
  color: #444;
  padding: 0.85em;
  overflow: auto; }

code {
  border-radius: 2px;
  box-sizing: border-box;
  background: #aeaeae;
  color: #eee;
  padding: 0 7px;
  margin-right: 2px;
  margin-left: 2px;
  line-height: 1.5;
  font-weight: normal !important;
  position: relative;
  top: -2px; }

kbd {
  padding: 2px 6px 1px;
  line-height: 1;
  display: inline-block;
  border-radius: 0.3em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px white inset;
  background-color: #fafafa;
  border-color: #ccc #ccc white;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-weight: normal;
  white-space: nowrap; }

figure {
  display: block;
  position: relative; }
  figure figcaption {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
    padding: 0;
    color: #fff;
    text-shadow: 0px 0px 3px #333; }

html,
body,
#all {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 0; }

#all {
  overflow: hidden; }

#main {
  display: block; }

.browsehappy {
  width: 100%;
  z-index: 9999;
  background: #FFBABA; }
  .browsehappy p {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    color: #D8000C;
    text-align: center;
    padding: 16px;
    margin: 0;
    font-size: 1.4rem; }
    .browsehappy p::before {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 8px; }

#allCover {
  z-index: 9999; }

@media only screen and (min-width: 482px) {
  .spOnly {
    display: none !important; } }

@media only screen and (min-width: 770px) {
  .tbOnly {
    display: none !important; } }

@media only screen and (max-width: 480px) {
  .spHide {
    display: none !important; } }

@media only screen and (min-width: 668px) {
  .sp {
    display: none !important; } }

@media only screen and (max-width: 666px) {
  .tb {
    display: none !important; } }

@media only screen and (max-width: 920px) {
  .pc {
    display: none !important; } }

.center {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important; }

@media only screen and (max-width: 666px) {
  .center_sp {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important; } }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.fl {
  margin-bottom: 4px; }
  @media only screen and (min-width: 668px) {
    .fl {
      float: left;
      margin-right: 8px; } }
  @media only screen and (max-width: 666px) {
    .fl {
      text-align: center; } }

.fr {
  margin-bottom: 4px; }
  @media only screen and (min-width: 668px) {
    .fr {
      float: right;
      margin-left: 8px; } }
  @media only screen and (max-width: 666px) {
    .fr {
      text-align: center; } }

.clear {
  clear: both;
  *zoom: 1; }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    clear: both; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

.mb0 {
  margin-bottom: 0px !important; }

.mb1 {
  margin-bottom: 8px !important; }

.mb2 {
  margin-bottom: 16px !important; }

.mb3 {
  margin-bottom: 24px !important; }

.mb4 {
  margin-bottom: 32px !important; }

.mb5 {
  margin-bottom: 40px !important; }

.mb6 {
  margin-bottom: 48px !important; }

.mb7 {
  margin-bottom: 56px !important; }

.mb8 {
  margin-bottom: 64px !important; }

.mb9 {
  margin-bottom: 72px !important; }

.mb10 {
  margin-bottom: 80px !important; }

@media only screen and (max-width: 666px) {
  .mb0_sp {
    margin-bottom: 0px !important; } }

@media only screen and (max-width: 666px) {
  .mb1_sp {
    margin-bottom: 10px !important; } }

@media only screen and (max-width: 666px) {
  .mb2_sp {
    margin-bottom: 20px !important; } }

@media only screen and (max-width: 666px) {
  .mb3_sp {
    margin-bottom: 30px !important; } }

@media only screen and (max-width: 666px) {
  .mb4_sp {
    margin-bottom: 40px !important; } }

@media only screen and (max-width: 666px) {
  .mb5_sp {
    margin-bottom: 50px !important; } }

@media only screen and (max-width: 666px) {
  .mb6_sp {
    margin-bottom: 60px !important; } }

@media only screen and (max-width: 666px) {
  .mb7_sp {
    margin-bottom: 70px !important; } }

@media only screen and (max-width: 666px) {
  .mb8_sp {
    margin-bottom: 80px !important; } }

@media only screen and (max-width: 666px) {
  .mb9_sp {
    margin-bottom: 90px !important; } }

@media only screen and (max-width: 666px) {
  .mb10_sp {
    margin-bottom: 100px !important; } }

.mt0 {
  margin-top: 0px !important; }

.mt1 {
  margin-top: 8px !important; }

.mt2 {
  margin-top: 16px !important; }

.mt3 {
  margin-top: 24px !important; }

.mt4 {
  margin-top: 32px !important; }

.mt5 {
  margin-top: 40px !important; }

.mt6 {
  margin-top: 48px !important; }

.mt7 {
  margin-top: 56px !important; }

.mt8 {
  margin-top: 64px !important; }

.mt9 {
  margin-top: 72px !important; }

.mt10 {
  margin-top: 80px !important; }

@media only screen and (max-width: 666px) {
  .mt0_sp {
    margin-top: 0px !important; } }

@media only screen and (max-width: 666px) {
  .mt1_sp {
    margin-top: 10px !important; } }

@media only screen and (max-width: 666px) {
  .mt2_sp {
    margin-top: 20px !important; } }

@media only screen and (max-width: 666px) {
  .mt3_sp {
    margin-top: 30px !important; } }

@media only screen and (max-width: 666px) {
  .mt4_sp {
    margin-top: 40px !important; } }

@media only screen and (max-width: 666px) {
  .mt5_sp {
    margin-top: 50px !important; } }

@media only screen and (max-width: 666px) {
  .mt6_sp {
    margin-top: 60px !important; } }

@media only screen and (max-width: 666px) {
  .mt7_sp {
    margin-top: 70px !important; } }

@media only screen and (max-width: 666px) {
  .mt8_sp {
    margin-top: 80px !important; } }

@media only screen and (max-width: 666px) {
  .mt9_sp {
    margin-top: 90px !important; } }

@media only screen and (max-width: 666px) {
  .mt10_sp {
    margin-top: 100px !important; } }

.mr0 {
  margin-right: 0px !important; }

.mr1 {
  margin-right: 8px !important; }

.mr2 {
  margin-right: 16px !important; }

.mr3 {
  margin-right: 24px !important; }

.mr4 {
  margin-right: 32px !important; }

.mr5 {
  margin-right: 40px !important; }

.mr6 {
  margin-right: 48px !important; }

.mr7 {
  margin-right: 56px !important; }

.mr8 {
  margin-right: 64px !important; }

.mr9 {
  margin-right: 72px !important; }

.mr10 {
  margin-right: 80px !important; }

.pt0 {
  padding-top: 0px !important; }

.pt1 {
  padding-top: 8px !important; }

.pt2 {
  padding-top: 16px !important; }

.pt3 {
  padding-top: 24px !important; }

.pt4 {
  padding-top: 32px !important; }

.pt5 {
  padding-top: 40px !important; }

.pt6 {
  padding-top: 48px !important; }

.pt7 {
  padding-top: 56px !important; }

.pt8 {
  padding-top: 64px !important; }

.pt9 {
  padding-top: 72px !important; }

.pt10 {
  padding-top: 80px !important; }

@media only screen and (max-width: 666px) {
  .pt0_sp {
    padding-top: 0px !important; } }

@media only screen and (max-width: 666px) {
  .pt1_sp {
    padding-top: 10px !important; } }

@media only screen and (max-width: 666px) {
  .pt2_sp {
    padding-top: 20px !important; } }

@media only screen and (max-width: 666px) {
  .pt3_sp {
    padding-top: 30px !important; } }

@media only screen and (max-width: 666px) {
  .pt4_sp {
    padding-top: 40px !important; } }

@media only screen and (max-width: 666px) {
  .pt5_sp {
    padding-top: 50px !important; } }

@media only screen and (max-width: 666px) {
  .pt6_sp {
    padding-top: 60px !important; } }

@media only screen and (max-width: 666px) {
  .pt7_sp {
    padding-top: 70px !important; } }

@media only screen and (max-width: 666px) {
  .pt8_sp {
    padding-top: 80px !important; } }

@media only screen and (max-width: 666px) {
  .pt9_sp {
    padding-top: 90px !important; } }

@media only screen and (max-width: 666px) {
  .pt10_sp {
    padding-top: 100px !important; } }

.pb0 {
  padding-top: 0px !important; }

.pb1 {
  padding-top: 8px !important; }

.pb2 {
  padding-top: 16px !important; }

.pb3 {
  padding-top: 24px !important; }

.pb4 {
  padding-top: 32px !important; }

.pb5 {
  padding-top: 40px !important; }

.pb6 {
  padding-top: 48px !important; }

.pb7 {
  padding-top: 56px !important; }

.pb8 {
  padding-top: 64px !important; }

.pb9 {
  padding-top: 72px !important; }

.pb10 {
  padding-top: 80px !important; }

@media only screen and (max-width: 666px) {
  .pb0_sp {
    padding-bottom: 0px !important; } }

@media only screen and (max-width: 666px) {
  .pb1_sp {
    padding-bottom: 10px !important; } }

@media only screen and (max-width: 666px) {
  .pb2_sp {
    padding-bottom: 20px !important; } }

@media only screen and (max-width: 666px) {
  .pb3_sp {
    padding-bottom: 30px !important; } }

@media only screen and (max-width: 666px) {
  .pb4_sp {
    padding-bottom: 40px !important; } }

@media only screen and (max-width: 666px) {
  .pb5_sp {
    padding-bottom: 50px !important; } }

@media only screen and (max-width: 666px) {
  .pb6_sp {
    padding-bottom: 60px !important; } }

@media only screen and (max-width: 666px) {
  .pb7_sp {
    padding-bottom: 70px !important; } }

@media only screen and (max-width: 666px) {
  .pb8_sp {
    padding-bottom: 80px !important; } }

@media only screen and (max-width: 666px) {
  .pb9_sp {
    padding-bottom: 90px !important; } }

@media only screen and (max-width: 666px) {
  .pb10_sp {
    padding-bottom: 100px !important; } }

.w05 {
  width: 4% !important; }
  @media only screen and (max-width: 666px) {
    .w05 {
      width: 100% !important; } }

.w10 {
  width: 9% !important; }
  @media only screen and (max-width: 666px) {
    .w10 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w10_sp {
    width: 9% !important; } }

.w15 {
  width: 14% !important; }
  @media only screen and (max-width: 666px) {
    .w15 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w15_sp {
    width: 14% !important; }
    .w15_sp img {
      margin-left: auto;
      margin-right: auto; } }

.w20 {
  width: 19% !important; }
  @media only screen and (max-width: 666px) {
    .w20 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w20_sp {
    width: 19% !important; } }

.w30 {
  width: 29% !important; }
  @media only screen and (max-width: 666px) {
    .w30 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w30_sp {
    width: 29% !important; }
    .w30_sp img {
      margin-left: auto;
      margin-right: auto; } }

.w33 {
  width: 31% !important; }
  @media only screen and (max-width: 666px) {
    .w33 {
      width: 100% !important; } }

.w35 {
  width: 34% !important; }
  @media only screen and (max-width: 666px) {
    .w35 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w35_sp {
    width: 34% !important; } }

.w40 {
  width: 39% !important; }
  @media only screen and (max-width: 666px) {
    .w40 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w40_sp {
    width: 39% !important; } }

.w45 {
  width: 44% !important; }
  @media only screen and (max-width: 666px) {
    .w45 {
      width: 100% !important; } }

.w50 {
  width: 49% !important; }
  @media only screen and (max-width: 666px) {
    .w50 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w50_sp {
    width: 49% !important; }
    .w50_sp img {
      margin-left: auto;
      margin-right: auto; } }

.w55 {
  width: 54% !important; }
  @media only screen and (max-width: 666px) {
    .w55 {
      width: 100% !important; } }

.w60 {
  width: 59% !important; }
  @media only screen and (max-width: 666px) {
    .w60 {
      width: 100% !important; } }

.w65 {
  width: 64% !important; }
  @media only screen and (max-width: 666px) {
    .w65 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w60_sp {
    width: 59% !important; } }

@media only screen and (max-width: 666px) {
  .w65_sp {
    width: 64% !important; } }

.w70 {
  width: 69% !important; }
  @media only screen and (max-width: 666px) {
    .w70 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w70_sp {
    width: 69% !important; } }

.w80 {
  width: 79% !important; }
  @media only screen and (max-width: 666px) {
    .w80 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w80_sp {
    width: 79% !important; } }

.w85 {
  width: 84% !important; }
  @media only screen and (max-width: 666px) {
    .w85 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w85_sp {
    width: 84% !important; } }

.w90 {
  width: 89% !important; }
  @media only screen and (max-width: 666px) {
    .w90 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w90_sp {
    width: 89% !important; } }

.w95 {
  width: 94% !important; }
  @media only screen and (max-width: 666px) {
    .w95 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w95_sp {
    width: 94% !important; } }

.w25 {
  width: 24% !important; }
  @media only screen and (max-width: 666px) {
    .w25 {
      width: 50% !important; } }

@media only screen and (max-width: 666px) {
  .w25_sp {
    width: 24% !important; } }

.w75 {
  width: 74% !important; }
  @media only screen and (max-width: 666px) {
    .w75 {
      width: 100% !important; } }

@media only screen and (max-width: 666px) {
  .w75_sp {
    width: 74% !important; } }

img.w100 {
  width: 100% !important; }

.flex {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex; }
  @media only screen and (max-width: 666px) {
    .flex {
      display: block; }
      .flex.sp-flex {
        display: -ms-flexbox;
        display: flex;
        display: -webkit-box;
        display: -webkit-flex; }
        .flex.sp-flex .w50 {
          width: 49% !important; } }

.between {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between; }

.bold {
  font-weight: bold; }

a.fade:hover {
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: .2s; }
