@charset "UTF-8";
.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 1026px) {
    .wrap {
      max-width: 1304px;
      padding: 0 24px; } }
  @media only screen and (max-width: 1024px) {
    .wrap {
      padding: 0 16px; } }
  @media only screen and (max-width: 768px) {
    .wrap {
      padding: 0 8px; } }

#pan {
  z-index: 1; }

.MainHead {
  display: block;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.MainHead-inner {
  padding: 24px 8px; }
  @media only screen and (max-width: 480px) {
    .MainHead-inner {
      padding: 16px 8px; } }

.MainHead-sub {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; }
  @media only screen and (max-width: 480px) {
    .MainHead-sub {
      display: none; } }

.MainHead-ttl {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.3; }
  @media only screen and (max-width: 480px) {
    .MainHead-ttl {
      font-size: 1.6rem; } }

#container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 1026px) {
    #container {
      max-width: 1304px;
      padding: 0 24px; } }
  @media only screen and (max-width: 1024px) {
    #container {
      padding: 0 16px; } }
  @media only screen and (max-width: 768px) {
    #container {
      padding: 0 8px; } }

#cont {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  box-sizing: border-box;
  margin-top: 48px; }
  body.single #cont,
  body.magazine-page #cont {
    max-width: 780px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    border: 1px solid #eee;
    padding: 0 24px;
    margin: 48px auto; }
    @media only screen and (max-width: 480px) {
      body.single #cont,
      body.magazine-page #cont {
        border: none;
        margin-top: 8px;
        padding: 0; } }
  body.list-page #cont {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
  #cont,
  body.list-page #cont,
  body.single #cont,
  body.magazine-page #cont {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

body.magazine-page #side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  margin-left: 48px; }
  @media only screen and (max-width: 1024px) {
    body.magazine-page #side {
      margin-left: 16px; } }

body.list-page #side {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin-right: 48px; }
  @media only screen and (max-width: 1024px) {
    body.list-page #side {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 270px;
              flex: 0 0 270px;
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  #side {
    -webkit-box-ordinal-group: 5 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important;
    width: 100% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    margin: 0 !important; } }

@media only screen and (max-width: 768px) {
  #side,
  body.list-page #side,
  body.single-page #side,
  body.magazine-page #side {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; } }

#footer {
  z-index: 2; }

#pagetop {
  z-index: 3; }

#header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.Header {
  height: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (min-width: 1026px) {
    .Header {
      max-width: 1304px;
      padding: 0 24px; } }
  @media only screen and (max-width: 1024px) {
    .Header {
      padding: 0 16px; } }
  @media only screen and (max-width: 768px) {
    .Header {
      padding: 0 8px; } }

.HeaderLogo a {
  display: block;
  overflow: hidden;
  width: 171px;
  height: 0;
  padding-top: 31px;
  background-image: url("../img/form/common/header-logo.png");
  background-size: 171px 31px;
  -webkit-transition: all .5s;
  transition: all .5s; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .HeaderLogo a {
      background-image: url("../img/form/common/header-logo@2x.png"); } }
  .no-js .HeaderLogo a:hover,
  .js.no-touchevents .HeaderLogo a:hover,
  .js.touchevents .HeaderLogo a.touch {
    opacity: .7;
    -webkit-transition: all .5s;
    transition: all .5s; }

.log80year a img {
  width: 131.875px;
  height: 50.625px; }

.Contsec {
  margin-bottom: 48px; }
  .Contsec:last-child {
    margin-bottom: 0; }

.Contsec-ttl {
  font-size: 2.4rem;
  border-bottom: solid 3px #262626;
  padding-bottom: .3em;
  margin-bottom: 1em; }

.l-ttl {
  font-size: 2.2rem;
  border-left: solid 4px #1075a6;
  position: relative;
  left: -25px;
  padding: 8px 0 8px 20px;
  margin-bottom: .5em; }
  .l-ttl + p {
    margin-top: 0; }
  @media only screen and (max-width: 768px) {
    .l-ttl {
      font-size: 1.8rem;
      left: 0;
      padding-left: 4px; } }

.m-ttl {
  font-size: 1.8rem;
  margin-top: 1em; }

.s-ttl {
  font-size: 1.6rem; }
  @media only screen and (max-width: 480px) {
    .s-ttl {
      font-size: 1.4rem; } }

.t-center {
  text-align: center; }

/* FormHack v1.1.0 (formhack.io) */
/* Global Reset Styles ------------------ */
input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #666666;
  vertical-align: top;
  display: block;
  margin: 10px 0; }

datalist {
  font-family: "Raleway", sans-serif;
  font-size: 16px; }

label {
  display: block;
  margin: 10px 0; }

/* Input & Textarea ------------------ */
/* Fields with standard width */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list],
input[type="file"],
select,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 7px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eee; }

/* Fields with standard height */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: 35px;
  -webkit-appearance: none; }

/* Other */
textarea {
  -webkit-appearance: none;
  overflow: auto;
  min-height: 10em; }

input[type="range"] {
  height: 35px;
  width: 100%;
  max-width: 100%; }

input[type="file"] {
  min-height: 35px; }

input[type="search"] {
  height: 35px;
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle; }

/* Select ------------------ */
select {
  height: 35px; }

select[multiple] {
  height: auto;
  min-height: 35px;
  padding: 0; }
  select[multiple] option {
    margin: 0;
    padding: 7px; }

/* Fieldset ------------------ */
fieldset {
  padding: 0;
  border: 0; }

legend {
  padding: 0;
  font-weight: inherit; }

/* Buttons, Input Type Submit/Reset ------------------ */
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"] {
  height: 40px;
  width: 100%;
  max-width: 200px;
  background-color: #fbfbfb;
  padding: 7px;
  cursor: pointer;
  color: #666666;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  border: 1px solid #eee; }
  button.s-size,
  input[type="button"].s-size,
  input[type="submit"].s-size,
  input[type="reset"].s-size,
  input[type="image"].s-size {
    max-width: 320px !important; }

input[type="image"] {
  text-align: center;
  padding: 7px; }

/* States ------------------ */
input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed; }

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus {
  background-color: #fbfbfb;
  border-color: #bde5f8; }

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: #bde5f8 solid 2px; }

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: #eee;
  color: #666666; }

::-webkit-input-placeholder {
  color: #8c8c8c;
  opacity: 1; }

:-moz-placeholder {
  color: #8c8c8c; }

::-moz-placeholder {
  color: #8c8c8c;
  opacity: 1; }

:-ms-input-placeholder {
  color: #8c8c8c; }

.u-Req::before {
  content: "必須";
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background-color: red;
  padding: 0 8px;
  margin-right: 8px;
  font-weight: bold;
  border-radius: 2px; }

.label {
  background-color: #fff;
  padding: 8px 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: dotted 1px #eee; }
  .label-ttl {
    width: 180px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .label-ttl::after {
      content: "任意";
      background-color: #c8c8c8;
      display: inline-block;
      width: 2em;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 2em;
              flex: 0 0 2em;
      color: #fff;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 2px;
      margin-left: 8px; }
    .label-ttl.long {
      max-width: 80%;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 80%;
              flex: 1 1 80%; }
    @media only screen and (max-width: 480px) {
      .label-ttl {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        margin-bottom: 4px; }
        .label-ttl::after {
          margin-left: 0 !important;
          margin-right: 4px; } }
    body.confForm .label-ttl::after {
      content: ":";
      color: #333;
      background: none; }
      @media only screen and (max-width: 480px) {
        body.confForm .label-ttl::after {
          display: none; } }
  .label.req .label-ttl::after {
    content: "必須";
    background-color: red; }
  .label-inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    margin-left: 8px; }
    @media only screen and (max-width: 480px) {
      .label-inner {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-left: 0; } }
    .label-inner p {
      margin: 8px 0; }
      @media only screen and (min-width: 770px) {
        .label-inner p {
          margin: 4px 0; } }
      body.confForm .label-inner p {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin: 0; }
    .label-inner input {
      margin: 0; }
    .label-inner.short {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 120px;
              flex: 0 0 120px;
      margin-right: 8px; }
      @media only screen and (max-width: 480px) {
        .label-inner.short {
          width: 100%;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          margin-left: 0; } }
  .label textarea {
    margin: 0; }
  .label.seminar .label-ttl {
    max-width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    line-height: 1.4; }
    .label.seminar .label-ttl .s-ttl {
      line-height: 1.4; }
      .label.seminar .label-ttl .s-ttl span {
        display: block;
        color: red;
        font-size: 1.2rem; }
  .label.seminar .label-inner {
    max-width: 120px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px; }
    @media only screen and (max-width: 480px) {
      .label.seminar .label-inner {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; } }

.no-js label:hover,
.js.no-touchevents label:hover,
.js.touchevents label.touch {
  background-color: #fbfbfb; }

.inputCheckbox-row,
.inputRadio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.inputCheckbox-label,
.inputRadio-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: solid 1px #eee;
  border-left: solid 4px #bde5f8;
  padding: 0;
  background-color: #fff;
  margin-top: -1px; }
  @media only screen and (min-width: 770px) {
    .inputCheckbox-label,
    .inputRadio-label {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 40%;
              flex: 1 1 40%;
      margin-bottom: 8px; }
      .inputCheckbox-label:nth-child(even),
      .inputRadio-label:nth-child(even) {
        margin-right: 8px; } }
  .no-js .inputCheckbox-label:hover,
  .js.no-touchevents .inputCheckbox-label:hover,
  .js.touchevents .inputCheckbox-label.touch, .no-js
  .inputRadio-label:hover,
  .js.no-touchevents
  .inputRadio-label:hover,
  .js.touchevents
  .inputRadio-label.touch {
    cursor: pointer; }

.inputCheckbox-item,
.inputRadio-item {
  margin: 0 8px !important;
  max-width: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px; }

.warning {
  height: 0;
  opacity: 0;
  color: #fff;
  background-color: #FFBABA;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 1rem;
  border-radius: 2px;
  margin: 0 !important;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .warning::before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 4px; }
  .warning.error {
    opacity: 1;
    color: #D8000C;
    height: auto;
    padding: 2px 8px;
    margin-top: 2px !important; }

.info {
  color: #00529B;
  background-color: #bde5f8;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 8px !important;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  .info + input {
    border-left: solid 4px #bde5f8;
    border-radius: 0 3px 3px 0; }

.policy {
  border: solid 2px #c8c8c8;
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding: 24px;
  max-width: 600px;
  margin: 0 auto; }

.formBtn {
  max-width: 350px;
  width: 100%;
  margin: 48px auto; }
  .formBtn-send, .formBtn-submit {
    max-width: 350px;
    width: 100%;
    height: 50px;
    border: solid 1px #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 4px;
    background-color: #eee;
    border-color: #c8c8c8;
    color: #c8c8c8;
    margin-bottom: 0;
    font-weight: bold; }
    .formBtn-send span, .formBtn-submit span {
      display: inline-block;
      margin: 0 auto; }
      .formBtn-send span::after, .formBtn-submit span::after {
        content: "";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 8px;
        position: relative;
        right: 0; }
    .formBtn-send:hover, .formBtn-submit:hover {
      color: #c8c8c8;
      cursor: default; }
    .formBtn-send.ok, .formBtn-submit.ok {
      background-color: #DFF2BF;
      border-color: #4F8A10;
      color: #4F8A10;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
      .no-js .formBtn-send.ok:hover,
      .js.no-touchevents .formBtn-send.ok:hover,
      .js.touchevents .formBtn-send.ok.touch, .no-js .formBtn-submit.ok:hover,
      .js.no-touchevents .formBtn-submit.ok:hover,
      .js.touchevents .formBtn-submit.ok.touch {
        -webkit-transition: all .5s;
        transition: all .5s;
        background-color: #fff;
        color: #4F8A10;
        cursor: pointer; }
        .no-js .formBtn-send.ok:hover span::after,
        .js.no-touchevents .formBtn-send.ok:hover span::after,
        .js.touchevents .formBtn-send.ok.touch span::after, .no-js .formBtn-submit.ok:hover span::after,
        .js.no-touchevents .formBtn-submit.ok:hover span::after,
        .js.touchevents .formBtn-submit.ok.touch span::after {
          -webkit-transition: all .3s;
          transition: all .3s;
          color: #4F8A10;
          right: -10px; }
  .formBtn-send span::after {
    content: "\f1d8"; }

.formSSL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .formSSL::before {
    content: " ";
    display: block;
    overflow: hidden;
    width: 83px;
    height: 0;
    padding-top: 46px;
    background-image: url("../img/form/common/ssl.png");
    background-size: 83px 46px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83px;
            flex: 0 0 83px;
    max-width: 83px;
    margin-right: 8px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .formSSL::before {
        background-image: url("../img/form/common/ssl@2x.png"); } }

.formClose {
  text-align: center; }
  .formClose a span::before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 4px; }

.formFlow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -8px;
  margin-left: -8px; }
  @media only screen and (max-width: 480px) {
    .formFlow {
      margin-top: 0;
      margin-bottom: 0; } }
  .formFlow li {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 0 8px; }
    .formFlow li div {
      background-color: #1075a6;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      box-sizing: border-box;
      position: relative;
      border-radius: 2px;
      color: #fff;
      padding: 8px;
      font-weight: bold; }
      .formFlow li div::before {
        content: "";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: normal; }
      .formFlow li div::after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 15px;
        border-color: transparent transparent transparent #1075a6;
        position: absolute;
        right: -14px;
        top: 15px; }
    .formFlow li:nth-child(2) div::before {
      content: "\f046"; }
    .formFlow li:nth-child(3) div::before {
      content: "\f1d8"; }
    .formFlow li:nth-child(3) div::after {
      content: none; }
    body.inputForm .formFlow li:nth-child(1) div {
      background-color: #094460; }
      body.inputForm .formFlow li:nth-child(1) div::after {
        border-color: transparent transparent transparent #094460; }
    body.confForm .formFlow li:nth-child(2) div {
      background-color: #094460; }
      body.confForm .formFlow li:nth-child(2) div::after {
        border-color: transparent transparent transparent #094460; }
    body.sendForm .formFlow li:nth-child(3) div {
      background-color: #094460; }

.formLogin {
  background-color: #FEEFB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-color: #9F6000 !important; }
  .formLogin-inner {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    margin-right: 8px; }
  .formLogin-ttl::before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 4px; }
  .formLogin-btn {
    max-width: 180px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 180px;
            flex: 1 1 180px;
    min-height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border: solid 1px #00529B;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: #00529B;
    font-size: 2rem;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .formLogin-btn::before {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 4px; }
    .no-js .formLogin-btn:hover,
    .js.no-touchevents .formLogin-btn:hover,
    .js.touchevents .formLogin-btn.touch {
      -webkit-transition: all .5s;
      transition: all .5s;
      text-decoration: none;
      color: #fff;
      background-color: #00529B; }
  @media only screen and (max-width: 480px) {
    .formLogin {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .formLogin-btn, .formLogin-inner {
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%; }
      .formLogin-inner {
        margin-bottom: 8px; } }

.kasikosh-radio {
  background-color: #F3FDFC;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  box-sizing: border-box;
  padding: 0 4px 0 0; }
  .kasikosh-radio img {
    margin: 4px;
    margin-left: 0; }
  .kasikosh-radio div p {
    margin-bottom: 0; }
  @media only screen and (max-width: 480px) {
    .kasikosh-radio {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .kasikosh-radio div {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        padding: 8px;
        box-sizing: border-box; } }

#pagetop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  #pagetop.hide {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  #pagetop a span {
    display: none; }
  #pagetop a::before {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 5rem; }
  .no-js #pagetop a:hover,
  .js.no-touchevents #pagetop a:hover,
  .js.touchevents #pagetop a.touch {
    text-decoration: none; }

.copyright {
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: #eee;
  background-color: #333;
  font-family: "Sawarabi Mincho",'Libre Baskerville',"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", "YuMincho", "メイリオ","Meiryo","ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  padding: 16px;
  font-size: 1.2rem; }
  .copyright span {
    font-size: 1.3rem;
    position: relative;
    top: .1em; }

[class*="a-"][class*="arrow"]::after {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 4px; }

[class*="a-"][class*="arrow"][target="_blank"]::after {
  content: "\f14c"; }

[class*="a-"][class*="underline"] {
  position: relative;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s; }
  [class*="a-"][class*="underline"]::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: #e12e57;
    -webkit-transition: .3s;
    transition: .3s; }
  .no-js [class*="a-"][class*="underline"]:hover,
  .js.no-touchevents [class*="a-"][class*="underline"]:hover,
  .js.touchevents [class*="a-"][class*="underline"].touch {
    text-decoration: none; }
    .no-js [class*="a-"][class*="underline"]:hover::before,
    .js.no-touchevents [class*="a-"][class*="underline"]:hover::before,
    .js.touchevents [class*="a-"][class*="underline"].touch::before {
      width: 100%; }

[class*="btn-"][class*="arrow"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  [class*="btn-"][class*="arrow"]::after {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 4px; }
  [class*="btn-"][class*="arrow"][rel="nofollow"]::after {
    content: "\f14c"; }
  [class*="btn-"][class*="arrow"][href$=".pdf"]:after {
    content: "\f1c1"; }

[class*="btn-"][class*="base"] {
  border-radius: 3px;
  height: 36px;
  color: #fff;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .no-js [class*="btn-"][class*="base"]:hover,
  .js.no-touchevents [class*="btn-"][class*="base"]:hover,
  .js.touchevents [class*="btn-"][class*="base"].touch {
    color: #fff;
    text-decoration: none; }

[class*="btn-"][class*="push"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #1075a6;
  color: #fff;
  height: 42px;
  padding: 8px 12px;
  position: relative;
  top: 0; }
  .no-js [class*="btn-"][class*="push"]:hover,
  .js.no-touchevents [class*="btn-"][class*="push"]:hover,
  .js.touchevents [class*="btn-"][class*="push"].touch {
    text-decoration: none;
    top: 3px; }
  [class*="btn-"][class*="push"][class*="point"] {
    background-color: #e12e57; }

.assist {
  box-sizing: border-box;
  position: relative;
  border: solid 1px #eee;
  padding: 24px;
  margin-bottom: 24px; }
  .assist.warning {
    border: none;
    color: #9F6000;
    background-color: #FEEFB3; }
    .assist.warning::before {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 4px; }

ul.list > li {
  list-style: square outside;
  margin-left: 1.5em; }

ol.list > li {
  list-style: decimal outside;
  margin-left: 1.5em; }

[class*="list-"][class*="base"] > li {
  list-style: square outside;
  margin-left: 1.5em; }

[class*="list-"][class*="num"] > li {
  list-style: decimal outside;
  margin-left: 1.5em; }

[class*="list-"][class*="line"] > li {
  padding-left: 24px;
  border-left: solid 4px #1075a6;
  margin: 12px 0; }
  [class*="list-"][class*="line"] > li:last-child, [class*="list-"][class*="line"] > li:first-child {
    margin: 0; }
