@charset "UTF-8";
.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 1026px) {
    .wrap {
      max-width: 1304px;
      padding: 0 24px; } }
  @media only screen and (max-width: 1024px) {
    .wrap {
      padding: 0 16px; } }
  @media only screen and (max-width: 768px) {
    .wrap {
      padding: 0 8px; } }

.m-ttl {
  font-size: 2.7rem; }

section {
  position: relative;
  text-align: center; }

.shoulder {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 0px; }
  .shoulder-icon {
    background-image: url("../img/id/m-shoulder-icon.png");
    background-size: 188px 135px;
    background-repeat: no-repeat;
    height: 135px;
    width: 188px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 8px;
    top: -150px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .shoulder-icon {
        background-image: url("../img/id/m-shoulder-icon@2x.png"); } }
    .shoulder-icon p {
      font-size: 2.4rem;
      color: #003c65 !important;
      font-weight: bold;
      line-height: 1.3;
      margin: 0;
      position: relative;
      top: -5px; }
    @media only screen and (max-width: 480px) {
      .shoulder-icon {
        height: 90px;
        width: 125.33333px;
        background-size: 125.33333px 90px;
        top: -80px; }
        .shoulder-icon p {
          font-size: 1.6rem; } }

#all .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10; }

#all .headerInq {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }
  @media only screen and (max-width: 480px) {
    #all .headerInq {
      display: none; } }
  #all .headerInq-item {
    position: relative;
    display: block;
    background-color: blue;
    background-image: url("../img/id/headerInq-bg.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-repeat: repeat;
    width: 800px;
    height: 150px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: -1px;
    left: 0;
    top: -25px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .headerInq-item {
        background-image: url("../img/id/headerInq-bg@2x.png"); } }
    #all .headerInq-item span {
      position: absolute;
      bottom: 16px;
      left: 24px; }
    .no-js #all .headerInq-item:hover,
    .js.no-touchevents #all .headerInq-item:hover,
    .js.touchevents #all .headerInq-item.touch {
      -webkit-transition: all .5s;
      transition: all .5s;
      top: 0px; }

#all .headerlogo {
  border-right-color: red;
  position: absolute;
  right: 24px;
  top: 24px; }
  #all .headerlogo-item {
    display: block;
    overflow: hidden;
    width: 134px;
    height: 0;
    padding-top: 49px;
    background-image: url("../img/id/headerLogo.png");
    background-size: 134px 49px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .headerlogo-item {
        background-image: url("../img/id/headerLogo@2x.png"); } }
    .no-js #all .headerlogo-item:hover,
    .js.no-touchevents #all .headerlogo-item:hover,
    .js.touchevents #all .headerlogo-item.touch {
      opacity: 0.9; }

#all .mainArea {
  text-align: center;
  position: relative; }
  #all .mainArea-bg {
    min-height: 357px;
    background-image: url("../img/id/main-bran.png");
    background-size: 271px 357px;
    background-repeat: no-repeat;
    background-position: bottom right; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .mainArea-bg {
        background-image: url("../img/id/main-bran@2x.png"); } }
    @media only screen and (max-width: 480px) {
      #all .mainArea-bg {
        background-image: none; } }
  #all .mainArea .l-ttl {
    padding-top: 150px;
    padding-bottom: 8px;
    font-size: 4rem; }
  #all .mainArea p {
    color: #333;
    font-weight: bold; }

#all .mainAreaInq {
  padding-top: 48px;
  display: inline-block;
  width: 300px;
  margin-bottom: -1px; }
  #all .mainAreaInq-btn {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 55px;
    width: 100%;
    color: #ee4036;
    border-radius: 28px;
    border: solid 4px #ee4036;
    font-weight: bold;
    text-decoration: none;
    margin: 0 !important;
    z-index: 2;
    position: relative;
    background-color: #fff; }
    #all .mainAreaInq-btn::after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-left: 4px; }
    .no-js #all .mainAreaInq-btn:hover,
    .js.no-touchevents #all .mainAreaInq-btn:hover,
    .js.touchevents #all .mainAreaInq-btn.touch {
      -webkit-transition: all .5s;
      transition: all .5s;
      background-color: #ee4036;
      color: #fff; }

#all .mainAreaServ-row {
  margin-top: -1px;
  background-color: #ee4036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#all .mainAreaServ-item {
  position: relative;
  background-color: #fff;
  max-width: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  height: 150px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px; }
  @media only screen and (max-width: 768px) {
    #all .mainAreaServ-item {
      max-width: 100px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100px;
              flex: 0 0 100px;
      height: 100px;
      margin: 8px; } }
  #all .mainAreaServ-item span {
    color: #333;
    font-size: 2.6rem;
    font-weight: bold; }
    @media only screen and (max-width: 768px) {
      #all .mainAreaServ-item span {
        font-size: 1.8rem;
        position: relative;
        top: -10px; } }
  #all .mainAreaServ-item::after {
    position: absolute;
    bottom: -4px;
    content: " "; }
    @media only screen and (max-width: 768px) {
      #all .mainAreaServ-item::after {
        bottom: -10px; } }
  #all .mainAreaServ-item.mypage::after {
    display: block;
    overflow: hidden;
    width: 47px;
    height: 0;
    padding-top: 50px;
    background-image: url("../img/id/mainIcon-mypage.png");
    background-size: 47px 50px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .mainAreaServ-item.mypage::after {
        background-image: url("../img/id/mainIcon-mypage@2x.png"); } }
  #all .mainAreaServ-item.smaile::after {
    display: block;
    overflow: hidden;
    width: 48px;
    height: 0;
    padding-top: 48px;
    background-image: url("../img/id/mainIcon-smaile.png");
    background-size: 48px 48px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .mainAreaServ-item.smaile::after {
        background-image: url("../img/id/mainIcon-smaile@2x.png"); } }
  #all .mainAreaServ-item.event::after {
    display: block;
    overflow: hidden;
    width: 48px;
    height: 0;
    padding-top: 45px;
    background-image: url("../img/id/mainIcon-event.png");
    background-size: 48px 45px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .mainAreaServ-item.event::after {
        background-image: url("../img/id/mainIcon-event@2x.png"); } }
  #all .mainAreaServ-item.conts::after {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 0;
    padding-top: 46px;
    background-image: url("../img/id/mainIcon-conts.png");
    background-size: 40px 46px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      #all .mainAreaServ-item.conts::after {
        background-image: url("../img/id/mainIcon-conts@2x.png"); } }

#all .mainAreaEx {
  box-sizing: border-box;
  padding: 24px;
  font-size: 2rem; }

#all .bran {
  background-color: #003c65;
  text-align: center;
  padding-top: 48px; }
  #all .bran p {
    color: #fff; }
  #all .bran .m-ttl {
    color: #fff;
    margin-bottom: 16px; }
  #all .bran .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10vw;
    position: relative;
    max-width: 549px;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
    .no-js #all .bran .img:hover,
    .js.no-touchevents #all .bran .img:hover,
    .js.touchevents #all .bran .img.touch {
      -webkit-transition: all .5s;
      transition: all .5s;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    #all .bran .img .balloon {
      display: block;
      overflow: hidden;
      width: 156px;
      height: 0;
      padding-top: 156px;
      background-image: url("../img/id/bran-balloon.png");
      background-size: 156px 156px;
      position: absolute;
      right: -30px;
      top: 0px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        #all .bran .img .balloon {
          background-image: url("../img/id/bran-balloon@2x.png"); } }

#all .service {
  box-sizing: border-box;
  padding-top: 96px;
  background-color: #eeeeee; }
  #all .service .m-ttl {
    margin-bottom: 48px; }

#all .service-exBox {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 96px; }

#all .serviceLink {
  box-sizing: border-box;
  background-color: #fff;
  padding: 24px; }

#all .flow {
  box-sizing: border-box;
  padding-top: 96px;
  background-color: #136096; }
  #all .flow .m-ttl {
    color: #fff;
    margin-bottom: 48px; }
  #all .flow .flowArea {
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 24px; }
    #all .flow .flowArea-row::after {
      content: "";
      display: block;
      overflow: hidden;
      width: 39px;
      height: 0;
      padding-top: 34px;
      background-image: url("../img/about/about/img-flow-icon.png");
      background-size: 39px 34px;
      margin: 8px auto; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        #all .flow .flowArea-row::after {
          background-image: url("../img/about/about/img-flow-icon@2x.png"); } }
    #all .flow .flowArea-row.end {
      margin-bottom: 24px; }
      #all .flow .flowArea-row.end::after {
        display: none; }
    #all .flow .flowArea-ex {
      max-width: 450px;
      margin: 8px auto; }

#all #footer {
  text-align: center;
  display: block; }
  #all #footer .footInq {
    padding: 48px 0;
    display: inline-block;
    width: 300px; }
    @media only screen and (min-width: 769px) {
      #all #footer .footInq {
        width: 500px; } }
    #all #footer .footInq-btn {
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 55px;
      width: 100%;
      color: #ee4036;
      background-color: #fff;
      border-radius: 28px;
      border: solid 4px #ee4036;
      font-weight: bold;
      text-decoration: none;
      margin: 0 !important;
      z-index: 2;
      position: relative; }
      @media only screen and (min-width: 769px) {
        #all #footer .footInq-btn {
          height: 70px;
          border-radius: 35px;
          font-size: 2rem; } }
      #all #footer .footInq-btn::after {
        content: "";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 4px; }
      .no-js #all #footer .footInq-btn:hover,
      .js.no-touchevents #all #footer .footInq-btn:hover,
      .js.touchevents #all #footer .footInq-btn.touch {
        -webkit-transition: all .5s;
        transition: all .5s;
        background-color: #ee4036;
        color: #fff; }
  #all #footer .footNav-item {
    display: inline-block; }
    #all #footer .footNav-item::before {
      content: "|"; }
    #all #footer .footNav-item:first-child::before {
      display: none; }
    #all #footer .footNav-item a {
      color: #666666;
      text-decoration: none;
      font-size: 1.2rem;
      margin: 0 8px; }
      .no-js #all #footer .footNav-item a:hover,
      .js.no-touchevents #all #footer .footNav-item a:hover,
      .js.touchevents #all #footer .footNav-item a.touch {
        text-decoration: underline; }

#all .copyright {
  color: #666666;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 8px; }

[class*="a-"][class*="arrow"]::after {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 4px; }

[class*="a-"][class*="arrow"][target="_blank"]::after {
  content: "\f14c"; }

[class*="a-"][class*="underline"] {
  position: relative;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s; }
  [class*="a-"][class*="underline"]::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    background-color: #e12e57;
    -webkit-transition: .3s;
    transition: .3s; }
  .no-js [class*="a-"][class*="underline"]:hover,
  .js.no-touchevents [class*="a-"][class*="underline"]:hover,
  .js.touchevents [class*="a-"][class*="underline"].touch {
    text-decoration: none; }
    .no-js [class*="a-"][class*="underline"]:hover::before,
    .js.no-touchevents [class*="a-"][class*="underline"]:hover::before,
    .js.touchevents [class*="a-"][class*="underline"].touch::before {
      width: 100%; }

[class*="btn-"][class*="arrow"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  [class*="btn-"][class*="arrow"]::after {
    content: "";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 4px; }
  [class*="btn-"][class*="arrow"][rel="nofollow"]::after {
    content: "\f14c"; }
  [class*="btn-"][class*="arrow"][href$=".pdf"]:after {
    content: "\f1c1"; }

[class*="btn-"][class*="base"] {
  border-radius: 3px;
  height: 36px;
  color: #fff;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .no-js [class*="btn-"][class*="base"]:hover,
  .js.no-touchevents [class*="btn-"][class*="base"]:hover,
  .js.touchevents [class*="btn-"][class*="base"].touch {
    color: #fff;
    text-decoration: none; }

[class*="btn-"][class*="push"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #1075a6;
  color: #fff;
  height: 42px;
  padding: 8px 12px;
  position: relative;
  top: 0; }
  .no-js [class*="btn-"][class*="push"]:hover,
  .js.no-touchevents [class*="btn-"][class*="push"]:hover,
  .js.touchevents [class*="btn-"][class*="push"].touch {
    text-decoration: none;
    top: 3px; }
  [class*="btn-"][class*="push"][class*="point"] {
    background-color: #e12e57; }

.m-slideIn {
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
  -webkit-transition: all .8s;
  transition: all .8s; }
  .m-slideIn.inview {
    -webkit-transition: all .8s;
    transition: all .8s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .m-slideIn-left {
    -webkit-transform: translate3d(-50px, 0, 0);
            transform: translate3d(-50px, 0, 0);
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .m-slideIn-left.inview {
      -webkit-transition: all .8s;
      transition: all .8s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
  .m-slideIn-right {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0);
    -webkit-transition: all .3s;
    transition: all .3s; }
    .m-slideIn-right.inview {
      -webkit-transition: all .8s;
      transition: all .8s;
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }

.m-slideUp {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  -webkit-transition: all .3s;
  transition: all .3s; }
  .m-slideUp.inview {
    -webkit-transition: all .8s;
    transition: all .8s;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

.m-fadeIn {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .m-fadeIn.inview {
    -webkit-transition: all .8s;
    transition: all .8s;
    opacity: 1; }

.assist {
  box-sizing: border-box;
  position: relative;
  border: solid 1px #eee;
  padding: 24px;
  margin-bottom: 24px; }
  .assist.warning {
    border: none;
    color: #9F6000;
    background-color: #FEEFB3; }
    .assist.warning::before {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 4px; }

ul.list > li {
  list-style: square outside;
  margin-left: 1.5em; }

ol.list > li {
  list-style: decimal outside;
  margin-left: 1.5em; }

[class*="list-"][class*="base"] > li {
  list-style: square outside;
  margin-left: 1.5em; }

[class*="list-"][class*="num"] > li {
  list-style: decimal outside;
  margin-left: 1.5em; }

[class*="list-"][class*="line"] > li {
  padding-left: 24px;
  border-left: solid 4px #1075a6;
  margin: 12px 0; }
  [class*="list-"][class*="line"] > li:last-child, [class*="list-"][class*="line"] > li:first-child {
    margin: 0; }
