<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
<Files report-baseballclass.php>
AuthUserFile /var/www/prod/haseko.co.jp/branchera/event/article/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user 
order deny,allow
</Files>